<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Classifier</th>
      <th>Accuracy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sequential Model</td>
      <td>0.957447</td>
    </tr>
    <tr>
      <td>Logistic Regression</td>
      <td>0.957447</td>
    </tr>
    <tr>
      <td>KNN</td>
      <td>0.946809</td>
    </tr>
    <tr>
      <td>SVM</td>
      <td>0.941489</td>
    </tr>
    <tr>
      <td>Random Forest</td>
      <td>0.941489</td>
    </tr>
    <tr>
      <td>Decision Tree</td>
      <td>0.898936</td>
    </tr>
  </tbody>
</table>